{% extends 'base.html' %}
{% load static %}
{% block head_content %}
@{{ user.username|capfirst }} | Settings
{% endblock%}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}
<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                <div class="col-lg-3">
                    <div class="acc-leftbar">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="fas fa-id-badge"></i>Perfil</a>
                            <a class="nav-item nav-link" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="false"><i class="far fa-user"></i>Usuario</a>
                            <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Cambiar Contraseña</a>
                            <a class="nav-item nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="false"><i class="fas fa-globe-americas"></i>Redes Sociales</a>

                          </div>
                    </div><!--acc-leftbar end-->
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                            {% include 'profile/update_profile.html' %}
                        </div>

                          <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                            {% include 'users/update_user.html' %}
                              <!--acc-setting end-->
                          </div>
                          <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                              <div class="acc-setting">
                                <h3>Configuracion de cuenta</h3>
                                <form>
                                    <div class="cp-field">
                                        <h5>Contraseña anterior</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="old-password" placeholder="Contraseña anterior">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Nueva contraseña</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="new-password" placeholder="Nueva contraseña">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Repite la contraseña</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="repeat-password" placeholder="Repite la contraseña">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5><a href="#" title="">¿Se te olvidó tu contraseña?</a></h5>
                                    </div>
                                    <div class="save-stngs pd2">
                                        <ul>
                                            <li><button type="submit">Guardar configuracion</button></li>
                                            <li><button type="submit">Cancelar configuracion</button></li>
                                        </ul>
                                    </div><!--save-stngs end-->
                                </form>
                            </div><!--acc-setting end-->
                          </div>
                          <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                              <div class="acc-setting">
                                <h3>Redes Sociales</h3>
                                  <form action="{% url 'users:setting' %}" method="POST" enctype="multipart/form-data">
                                  <div class="row notbar" >
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Facebook</h4>
                                        <div class="form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fab fa-facebook "></i></span>
                                                <input type="text" class="form-control" name="facebook" placeholder="Url">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Twitter</h4>
                                        <div class="form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fab fa-twitter "></i></span>
                                                <input type="text" class="form-control" name="Twitter" placeholder="Url">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12 col-md-6 ">
                                        <h4>Linkedind</h4>
                                        <div class="form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fab fa-linkedin-in"></i></span>
                                                <input type="text" class="form-control" name="linkedind" placeholder="Url">
                                            </div>
                                        </div>
                                    </div>
                                   
                                  
                                <div class="save-stngs pd2">
                                    <ul>
                                        <li><button type="submit">Guardar configuracion</button></li>
                                        <li><button type="submit">Cancelar configuracion</button></li>
                                    </ul>
                                </div>
                            </div> 
                                  </form>
                                  
                                  <!--notifications-list end-->
                              </div><!--acc-setting end-->
                          </div>
                    </div>
                </div>
            </div>
        </div><!--account-tabs-setting end-->
    </div>
</section>
{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}