{% load static %}
<section class="col-md-12 col-lg-8">
    <form  action="{% url 'users:update' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
    <div class="card mb-4">
        <div class="card-body negrita">
            <h5 class="text-uppercase negrita"><i class="fas fa-user-circle p-2"></i>Informacion Personal</h5> 
            <hr class="mt-0">

            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label >Nombres</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Ingrese su nombre">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Apellidos </label>
                        <input type="text" class="form-control" name="last_name" placeholder="Ingresa su apellido">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Nombre de usuario </label>
                    <div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" name="username" placeholder="Elija su nombre de usuario">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Correo Electrónico </label>
                        <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Cedula </label>
                        <input type="text" class="form-control" name="dni"  placeholder="Ingrese su numero de cedula">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Telefono Móvil </label>
                        <input type="text" class="form-control" name="phone_number" placeholder="Ingrese su numero de telefono/celular">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Biografia</label>
                        <textarea class="form-control" name="biography" id="userbio" rows="4" placeholder="Escribe tu biografia">
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Genero </label>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" type="radio" name="gender" value="masculino"> Masculino</label>
                            <label>
                                <input type="radio" name="gender" value="femenino"> Femenino</label>
                            <label>
                                <input type="radio" name="gender" value="otro"> Otro</label> 
                        </div> 
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Cumpleaños </label>
                        <div class="EditProfile-input">
                            <input type="date" name="birth_date">
                        </div> 
                    </div>
                </div>
            </div>

            <h5 class="text-uppercase negrita"><i class="fas fa-university p-2"></i>Estudios </h5> 
            <hr class="mt-0">

            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Nivel educativo</label>
                        <select class="form-control">
                            <option name="education_level" value="primaria">Primaria</option>
                            <option name="education_level" value="secundaria">Secundaria</option>
                            <option name="education_level" value="tecnico">Técnico</option>
                            <option name="education_level" value="universidad">Universidad</option>
                            <option name="education_level" value="maestria">Maestria</option>
                            <option name="education_level" value="doctorado">Doctorado</option>
                          </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Medio en el que laboras</label>
                        <select class="form-control">
                            <option value="desarrollador">Desarrollador</option>
                            <option value="marketing">Marketing</option>
                            <option value="diseño">Diseño</option>
                            <option value="negocios">Negocios</option>
                          </select>
                    </div>
                </div>
            </div>

            <h5 class="text-uppercase negrita"><i class="fas fa-globe-americas p-2"></i>Redes Sociales</h5> 
            <hr class="mt-0">

            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <label>Facebook</label>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fab fa-facebook "></i></span>
                            <input type="text" class="form-control" name="facebook" placeholder="Url">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Twitter</label>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fab fa-twitter "></i></span>
                            <input type="text" class="form-control" name="Twitter" placeholder="Url">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-6 ">
                    <label>Linkedind</label>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fab fa-linkedin-in"></i></span>
                            <input type="text" class="form-control" name="linkedind" placeholder="Url">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-right">  
                <button type="submit" class="btn btn-success mt-2">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div> 
    </form>
</section> 
