{% load static %}
<div class="main-left-sidebar">
    <div class="user_profile">
        <div class="user-pro-img mb-0">
            {% if user.profile.picture %}
            <img src="{{ user.profile.picture.url }}" alt="profile-image" width="180" height="180">
            {% else %}
            <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="180" height="180">
            {% endif %}
            {% if user == request.user %}
            <div class="add-dp" id="OpenImgUpload">
                <a href="{% url 'users:update_profile' %}" class="" ><i class="fas fa-user-edit"></i></a>
            </div>
            {% endif %}
        </div>
        <!--user-pro-img end-->
        <div class="user-specs  pt-1 pb-0 pl-3 pr-3">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
        </div>
        <div class="badges">
            <span class="badge badge-success">{{user.profile.education_level}}</span>
            <span class="badge badge-info">{{user.profile.work_area}}</span>
        </div>
        <div class="user-specs py-2">
            {% if user.profile.city %}
            <span><i class="fas fa-map-marker-alt pr-1"></i> {{user.profile.city}}, {{user.profile.city.province.country}}</span>
            {% endif %}
        </div>

        <!--user_pro_status end-->
        <div class="text-left text-muted pl-3 pr-3 py-4">
            <p class="mb-2">
                <strong>Usuario : </strong>
                <span class="ml-2 text-capitalize">@{{ user.username }}</span>
                <br>
                <strong>Telefono : </strong>
                <span class="ml-2 text-capitalize"> {{ user.profile.phone_number }}</span>
                <br>
                <strong>Email : </strong>
                <span class="ml-2 text-capitalize"> {{ user.email}}</span>
            </p>

            <div class="pb-4 pt-2" >
                {% if  user.profile.facebook %}
                <a sty href="{{user.profile.facebook}}" target="_blank"><img style=" display:block;margin:auto;" src="{% static 'img/facebook.png' %}" class="mr-2" width="35px" height="35px" alt=""></a>
                {% endif %}
                {% if  user.profile.twitter %}
                <a href="{{user.profile.twitter}}" target="_blank"><img src="{% static 'img/twitter.png' %}" class="mr-2" width="33px" height="33px" alt=""></a>
                {% endif %}
                {% if  user.profile.linkedin %}
                <a href="{{user.profile.linkedin}}" target="_blank"><img src="{% static 'img/linkedin.png' %}" class="mr-2" width="33px" height="33px" alt=""></a>
                {% endif %}
                {% if  user.profile.github %}
                <a href="{{user.profile.github}}" target="_blank"><img src="{% static 'img/github.png' %}" class="mr-2" width="35px" height="35px" alt=""></a>
                {% endif %}
            </div>
        </div>
    </div>
    <!--user_profile end-->

</div>
<!--main-left-sidebar end-->