{% load static %}
{% load humanize %}
<div class="main-left-sidebar">
    <div class="user_profile">
        <div class="user-pro-img mb-0">
            {% if user.profile.picture %}
            <img src="{{ user.profile.picture.url }}" alt="profile-image" width="200" height="200">
            {% else %}
            <div class="list-user" style="height: 200px;">
                <span style="width:200px; height: 200px; font-size: 100px; line-height: 198px;">{{user.first_name|first}}{{user.last_name|first}}</span>
            </div>
            {% endif %}
            {% if user == request.user %}
            <div class="add-dp" id="OpenImgUpload">
                <a href="{% url 'users:update_profile' %}" class="" ><i class="fas fa-user-edit"></i></a>
            </div>
            {% endif %}
        </div>
        <!--user-pro-img end-->
        <div class="user-specs  pt-1 pb-0 pl-3 pr-3">
            <h3>{{user.first_name}} {{user.last_name}}</h3>  
        </div>
        <div class="user-specs pb-3 pt-0">
            {% if user.profile.city %}
            <span><i class="fas fa-map-marker-alt pr-1" style="color:rgb(52, 216, 52);"></i> {{user.profile.city}}, {{user.profile.city.province.country}}</span>
            {% endif %}
        </div>
        <div class="user_pro_status pb-2">
            <ul class="flw-status">
                <li>
                    <span>Seguidos</span>
                    <b>{{ user.profile.following.count }}</b>
                </li>
                <li>
                    <span>Seguidores</span>
                    <b>{{ user.profile.followers.count }}</b>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="flw-hr mt-2">
                {% if user != request.user %}
            
                {% if user not in request.user.profile.following %}
                    <li><a href="{% url 'iteractions:follow' user user.username %}" title="" class="flww"><i class="la la-plus"></i> Seguir</a></li>
                {% else %}
                    <li><a href="{% url 'iteractions:unfollow' user user.username %}" title="" class="flww"><i class="fas fa-check-circle"></i> Siguiendo</a></li>
                {% endif %}
                <li><a href="{% url 'iteractions:newconversation' user.username %}" title="" class="hre"><i class="far fa-envelope mr-1"></i>Mensaje</a></li>
                {% else %}
                <li><a href="{% url 'users:update_user' %}" title="Editar Usuario" class="flww"><i class="far fa-user mr-1"></i>Usuario</a></li>
                <li><a href="{% url 'users:update_profile' %}" title="Editar Perfil" class="hre"><i class="fas fa-user-edit mr-1"></i>Perfil</a></li>
                {% endif %}
            </ul>
            {% endif %}
            
            <ul>
                <li>
                    <p><i class="fas fa-clock mr-1"></i> Se unio {{ user.profile.created|naturaltime }}</p>
                </li>
                <li>
                    <p class="ml-1 text-capitalize"><i class="far fa-user  mr-1"></i>@{{ user.username }}</p>
                </li>
                <li>
                    {% if user.profile.phone_number %}
                    <p class="ml-1"><i class="fas fa-mobile-alt  mr-1"></i>{{ user.profile.phone_number }}</p>
                    {% endif %}
                </li>
                <li>
                    <p class="ml-1"><i class="fas fa-envelope  mr-1"></i>{{ user.email|capfirst}}</p>
                </li>
            </ul>
            {% if user ==  request.user %}
            <hr class="mb-0">
            {% else %}
            <hr>
            {% endif %}
        </div>
        
        <ul class="social_links">
            {% if user ==  request.user %}
            <li class="add-dpss mb-0 text-right" >
                <a href="{% url 'users:social_net' %}"><i class="fas fa-edit" style=" font-size: 15px;"></i></a>
            </li>
            {% endif %}
            <li class="add-dps">
             {% if  user.profile.facebook %}
                <a href="{{user.profile.facebook}}" target="_blank" ><i class="fab fa-facebook"></i></a>
             {% else %}
                <a><i class="fab fa-facebook" style="filter: grayscale();"></i></a>
             {% endif %}
             {% if  user.profile.twitter %}
                 <a href="{{user.profile.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
             {% else %}
                <a><i class="fab fa-twitter" style="filter: grayscale();"></i></a>
             {% endif %}
             {% if  user.profile.linkedin %}
                 <a href="{{user.profile.linkedin}}" target="_blank"><i class="fab fa-linkedin-in" style="color: #0073b1;"></i></a>
             {% else %}
                <a><i class="fab fa-linkedin-in" style="filter: grayscale();"></i></a>
             {% endif %}
             {% if  user.profile.github %}
                 <a href="{{user.profile.github}}" target="_blank"><i class="fab fa-github" style="color:black;"></i></a>
             {% else %}
                <a><i class="fab fa-github" style="filter: grayscale();"></i></a>
             {% endif %}

            </li>

         </ul>
        <!--user_pro_status end-->
    </div>
    <!--user_profile end-->
</div>
<!--main-left-sidebar end-->