{% extends 'posts/base.html' %}
{% block head_content %}
Perfil | @{{user.username|capfirst}}
{% endblock%}
{% load static %}

{% block other_top %}
<!--agregar vistas al inicio sin ningun contenedor puesto -->
{% endblock %}

{% block row %}

    <div class="col-lg-3">
        {% include 'profile/info_me_profile.html' %}
        <!--right-sidebar end-->
    </div>
    <div class="col-lg-6">
        <div class="main-ws-sec">
            <div class="user-tab-sec rewivew">
                <div class="tab-feed st2 settingjb">
                    <ul>
                        <li data-tab="feed-dd" class="active">
                            <a href="#" title="">
                                <img src="{% static 'img/ic1.png'  %}" alt="">
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li data-tab="info-dd">
                            <a href="#" title="Informacion">
                                <img src="{% static 'img/ic2.png'  %}" alt="">
                                <span>Infor</span>
                            </a>
                        </li>
                        <li data-tab="portfolio-dd">
                            <a href="#" title="">
                                <img src="{% static 'img/ic3.png'  %}" alt="">
                                <span>Portfolio</span>
                            </a>
                        </li>
                    </ul>
                    
                </div><!-- tab-feed end-->
            </div>

            <!--user-tab-sec end-->
            <div class="product-feed-tab current" id="feed-dd">
                {% if user == request.user %}
                <div class="post-topbar">
                    <div class="usy-dt">
                        {% if user.profile.picture %}
                        <img src="{{ user.profile.picture.url }}" alt="profile-image" width="40" height="40">
                        {% else %}
                        <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="40" height="40">
                        {% endif %}
                    </div>
                    <div class="post-st mb-2 mt-2">
                        <ul>
                            <li><a href="{% url 'posts:new_project' %}" title="Añadir" class="active">
                                    <i class="fas fa-plus-square mr-2"></i>Añadir nuevo proyecto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if projects %}
                {% for project in projects %}
                    {% include 'posts/card_project.html' %}
                {% endfor %}
                    <div class="posts-section">
                        {% include 'pagination.html' %}   
                    </div>  
                {% else %}
                    <h3 style="font-size: 25px;font-weight: 600;">No tienes proyectos publicados</h3>
                {% endif %}
            </div>

            
            <!--product-feed-tab end-->
            <div class="product-feed-tab" id="info-dd">
                <!--user-profile-ov end-->
                <div class="user-profile-ov st2">
                    <h3>Datos
                        {% if user == request.user %}
                        <a href="{% url 'users:update_profile' %}" title="Personalizar Perfil"><i class="fa fa-pencil"></i></a></h3>
                        {% endif %}
                    <h4>Biografia</h4>
                    <p>{{user.profile.biography}}</p>   
                    <h4>Nivel Educativo</h4>
                    <p>{{ user.profile.education_level }}</p>
                    <h4>Telefono Celular</h4>
                    <p>{{ user.profile.phone_number }}</p>
                    <h4>Cedula</h4>
                    <p>{{ user.profile.dni }}</p>
                    <h4>Genero</h4>
                    <p>{{ user.profile.gender }}</p>
                    <h4>Ubicacion</h4>
                    <p>{{ user.profile.city }}</p>
                    <h4>Direccion de casa</h4>
                    <p >{{ user.profile.home_address }}</p>
                </div>
                <!--user-profile-ov end-->

            </div>
            <!--product-feed-tab end-->

            <div class="product-feed-tab" id="portfolio-dd">

                <div class="portfolio-gallery-sec">
                    <h3>Portfolio</h3>
                    {% if user == request.user %}
                    <div class="portfolio-btns">
                        <a href="{% url 'posts:new_project' %}" title="Crear Proyecto"><i class="fas fa-plus-square"></i> Añadir </a>
                    </div>
                    {% endif %}
                    <div class="gallery_pf">
                        <div class="row">
                            {% for project in projectsPro %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                
                                <div class="gallery_pt">
                                    <img src="{{ project.image.url }}" alt="">
                                    <a href="{% url 'posts:detail_project' project.pk %}" title=""><h3 style="color: aliceblue; padding: 15px; padding-top: 45px;">{{project.title}}</h3></a>
                                    {% if user == request.user %}
                                        <div  class="cadidatesbtn">
                                            <a title="Editar"  href="{% url 'posts:update_project' project.pk %}" ><i class="far fa-edit mr-1"></i></a> 
                                            <a title="Eliminar"  href="{% url 'posts:delete_project' project.pk %}"><i class="fas fa-trash-alt mr-1"></i></a> 
                                        </div>
                                    
                                    {% endif %} 
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--gallery_pf end-->
                </div>
                <!--portfolio-gallery-sec end-->
            </div>
            <!--product-feed-tab end-->
            
        </div>
        <!--main-ws-sec end-->
        
    </div>
    <div class="col-lg-3">
        <div class="right-sidebar">
            <!--main-ws-sec
                <ul class="flw-status text-left">
                    <a href="{% url 'users:update_profile' %}" type="button" class="btn btn-danger mb-2" style="padding: .275rem .55rem; font-size: 0.8rem;"><i class="fas fa-user-edit mr-1"></i>Mensaje</a>
                </ul> --->
                {% if user == request.user %}
                <ul class="flw-status text-right">
                    <a href="{% url 'users:update_profile' %}" type="button" class="btn btn-danger mb-3 " style=" padding: .275rem .55rem; font-size: 0.8rem;"><i class="fas fa-user-edit mr-1"></i>Editar Perfil</a>
                </ul>
                {% else %}
                <ul class="flw-status text-right">
                    <a href="{% url 'users:update_profile' %}" type="button" class="btn btn-secondary mb-3" style="padding: .275rem .55rem; font-size: 0.8rem;"><i class="fas fa-user-edit mr-1"></i>Seguir</a>
                </ul>
                {% endif %}
            <div class="widget widget-portfolio">
                <div class="wd-heady">
                    
                    <h3>Portfolio</h3>
                    <img src="{% static 'img/photo-icon.png' %}" alt="">
                </div>
                <div class="pf-gallery">
                    <ul>
                        {% for project in projectsPro %}
                        <li><a href="{% url 'posts:detail_project' project.pk %}" title=""><img src="{{ project.image.url }}" alt=""></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--pf-gallery end-->
            </div>
            <!--widget-portfolio end-->
        </div>
    </div>


{% endblock%}
{% block other_button %}
<!--agregar vistas al final sin ningun contenedor puesto -->
{% endblock %}