<!--acc-setting-->

{% extends 'account_setting.html' %}
{% block head_content %}
Actualizar Perfil | @{{ user.username|capfirst }}
{% endblock%}
{% load static %}
{% block profile %}
<div class="acc-setting">
    <h3>Perfil de usuario</h3>
    <form method="POST" enctype="multipart/form-data" id="updateForm" data-provinces-url="{% url 'users:ajax_load_province' %}"  data-city-url="{% url 'users:ajax_load_city' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 mt-2 mb-5">
                <div class="usr-pic">
                    {% if user.profile.picture %}
                        <img src="{{ user.profile.picture.url }}" alt="profile-image"  id="preview" width="96" height="96">
                    {% else %}
                    <img src=" " id="preview" width="96" height="96" style="margin-bottom: -16px;">
                    <div class="update-profile">
                        <span>{{request.user.first_name|first}}{{request.user.last_name|first}}</span>
                    </div>
                    {% endif %}
                    <div class="add-dp" id="OpenImgUpload">
                        <input type="file" id="file" name="picture" accept="image/*">
                        <label for="file"><i class="fas fa-camera"></i></label>
                    </div>
                </div>
                {% for error in form.picture.errors %}
                <div class="alert alert-danger">
                    <b>Picture:</b>{{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <h5>Cedula </h5>
                <div class="cpp-fiel">
                    <input class="{% if form.dni.errors %}is-invalid{% endif %}" type="text" name="dni"
                        placeholder="Ingrese su numero de cedula"
                        value="{% if form.errors %}{{form.dni.value }}{% else %}{{ user.profile.dni }}{% endif %}" />
                    <i class="far fa-address-card"></i>

                    <div class="invalid-feedback">
                        {% for error in form.dni.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <h5>Telefono Celular </h5>
                <div class="cpp-fiel">
                    <input class="{% if form.phone_number.errors %}is-invalid{% endif %}" type="text"
                        name="phone_number" placeholder="Ingrese su numero de telefono celular"
                        value="{% if form.errors %}{{form.phone_number.value }}{% else %}{{ user.profile.phone_number }}{% endif %}" />
                    <i class="fas fa-mobile-alt"></i>

                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6">
                <h5>Direccion de casa</h5>
                <div class="cpp-fiel">
                    <input class="{% if form.home_address.errors %}is-invalid{% endif %}" type="text"
                        name="home_address" placeholder="Ingrese la direccion de su domicilio"
                        value="{% if form.errors %}{{form.home_address.value }}{% else %}{{ user.profile.home_address}}{% endif %}" />
                    <i class="fas fa-map-marked-alt"></i>

                    <div class="invalid-feedback">
                        {% for error in form.home_address.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6">
                <h5>Medio en el que laboras</h5>
                <div class="cpp-fiel">
                    <input class="{% if form.work_area.errors %}is-invalid{% endif %}" type="text" name="work_area"
                    placeholder="Eje.Desarrolador, Diseñador, etc."
                    value="{% if form.errors %}{{form.work_area.value }}{% else %}{{ user.profile.work_area }}{% endif %}" />
                    <i class="fas fa-briefcase"></i>
                    
                    <div class="invalid-feedback">
                        {% for error in form.work_area.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>


            {# Biography-field #}
            <div class="cp-field">
                <div class="cpp-fiel">
                    <div class="form-group">
                        <h5>Biografia</h5>
                        <textarea class="form-control {% if form.biography.errors %}is-invalid{% endif %}"
                            name="biography" placeholder="Describa su biografía">{% if form.errors %}{{ form.biography.value }}{% else %}{{ user.profile.biography }}{% endif %}</textarea>
                        <div class="invalid-feedback">
                            {% for error in form.biography.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="notbar col-sm-12 col-md-12">
                <div class="cpp-fiel">
                    <h4>Genero </h4>
                    <div class="form-control">
                        {% for value in gender %}
                            {% if value == user.profile.gender %}
                            <label class="ml-2 mr-2"><input type="radio" name="gender" value="{{ value }}" checked> {{ value }}</label>
                            {% else %}
                            <label class="mr-2"><input type="radio" name="gender" value="{{ value }}"> {{ value }}</label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6">
                <div >
                    <h5>Pais</h5>
                    <div class="datefm mb-2">
                            <select name="country" class="form-control" id="id_country">
                                {% if user.profile.country %}
                                <option selected="true" value="{{ user.profile.country.pk }}">{{ user.profile.country }}</option>
                                {% for country in countrys %}
                                    {% if  country != user.profile.country %}
                                        <option value="{{ country.pk }}">{{ country }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                <option selected="true" disabled="disabled">Seleccione el Pais</option>
                                {% for country in countrys %}
                                    <option value="{{ country.pk }}">{{ country }}</option>
                                {% endfor %}
                            {% endif %}
                            </select><i class="fa fa-globe"></i>
                    </div>
                    <h5>Provincia</h5>
                    <div class="datefm mb-2">
                        <select name="province" class="form-control" id="id_province">
                            {% if user.profile.country %}
                            <option selected="true" disabled>Seleccione la Provincia</option>
                                {% if user.profile.province %}
                                <option selected="true" value="{{ user.profile.province.pk }}">{{ user.profile.province }}</option>
                                {% endif %}
                                {% for province in provinces %}
                                    {% if  province != user.profile.province %}
                                        <option value="{{ province.pk }}">{{ province }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}

                            {% endif %}
                        </select><i class="fas fa-map-marked-alt"></i>
                    </div>
                    <h5>Ciudad</h5>
                    <div class="datefm mb-2">
                        <select name="city" class="form-control" id="id_city">
                            {% if user.profile.country %}
                            <option selected="true" disabled>Seleccione la Ciudad</option>
                                {% if user.profile.province %}
                                    {% if user.profile.city %}
                                        <option selected="true" value="{{user.profile.city.pk}}">{{ user.profile.city }}</option>
                                    {% endif %}
                                    {% for city in citys %}
                                        {% if  city != user.profile.city %}
                                            <option value="{{city.pk}}">{{ city }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}

                            {% endif %}
                        </select><i class="fas fa-map-marker-alt"></i>
                    </div>

                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <div >


                    <h5>Nivel educativo</h5>
                    <div class="datefm mb-2">
                        <select name="education_level" class="form-control" id="exampleFormControlSelect3">

                            {% if user.profile.education_level %}
                            <option selected="true" value="{{ user.profile.education_level }}">
                                {{user.profile.education_level }}</option>
                            {% for value in studies %}
                            {% if  value  != user.profile.education_level %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <option selected="true" disabled="disabled">Seleccione el Nivel Educativo</option>
                            {% for value in studies %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                            {% endif %}

                        </select><i class="fas fa-university"></i>
                    </div>

                </div>
                <div>
                    <div class="cpp-fiel">
                        <h5>Cumpleaños </h5>
                        <div class="EditProfile-input">
                            <input type="date" name="birth_date" value="{{ user.profile.birth_date |date:'Y-m-d' }}" min="1980-01-01" max="2007-01-01" >

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="save-stngs pd2">
            <ul>
                <li><button type="submit">Guardar</button><a class="btn btn-danger mb-1 pb-2 ml-2" href="{% url 'users:update_profile' %}">Cancelar</a></li>
            </ul>
        </div>
    </form>

</div>
<!--acc-setting end-->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $("#id_country").change(function(){
        var url= $("#updateForm").attr("data-provinces-url");
        var countryId= $(this).val();
        $.ajax({
            url: url,
            data: {
                'country':countryId
            },
            success:function(data){
                $("#id_province").html(data);
                $("#id_city").html("<option>Seleccione la Ciudad</option>");
            },
        });
    });

    $("#id_province").change(function(){
        var url= $("#updateForm").attr("data-city-url");
        var provinceId= $(this).val();

        $.ajax({
            url: url,
            data: {
                'province':provinceId
            },
            success:function(data){
                $("#id_city").html(data);
            },
        });
    });
</script>  
{% endblock %}
                      
