<!--acc-setting-->
{% load static %}
<div class="acc-setting">
    <h3>Perfil de usuario</h3>
    <form action="{% url 'users:setting' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 mt-2 mb-5">
                <div class="usr-pic">
                    {% if user.profile.picture %}
                    <img src="{{ user.profile.picture.url }}" alt="profile-image" width="96" height="96">
                    {% else %}
                    <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="96" height="96">
                    {% endif %}
                    <div class="add-dp" id="OpenImgUpload">
                        <input type="file" id="file" name="picture">
                        <label for="file"><i class="fas fa-camera"></i></label>
                    </div>
                </div>
                {% for error in form.picture.errors %}
                <div class="alert alert-danger">
                    <b>Picture:</b>{{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <h5>Cedula </h5>
                <div class="cpp-fiel">
                    <input class="{% if form.dni.errors %}is-invalid{% endif %}" type="text" name="dni"
                        placeholder="Ingrese su numero de cedula"
                        value="{% if form.errors %}{{form.dni.value }}{% else %}{{ user.profile.dni }}{% endif %}" />
                    <i class="far fa-address-card"></i>

                    <div class="invalid-feedback">
                        {% for error in form.dni.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <h5>Telefono Celular </h5>
                <div class="cpp-fiel">
                    <input class="{% if form.phone_number.errors %}is-invalid{% endif %}" type="text"
                        name="phone_number" placeholder="Ingrese su numero de telefono celular"
                        value="{% if form.errors %}{{form.phone_number.value }}{% else %}{{ user.profile.phone_number }}{% endif %}" />
                    <i class="fas fa-mobile-alt"></i>

                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-12">
                <h5>Direccion de casa</h5>
                <div class="cpp-fiel">
                    <input class="{% if form.home_address.errors %}is-invalid{% endif %}" type="text"
                        name="home_address" placeholder="Ingrese la direccion de su domicilio"
                        value="{% if form.errors %}{{form.home_address.value }}{% else %}{{ user.profile.home_address}}{% endif %}" />
                    <i class="fas fa-map-marked-alt"></i>

                    <div class="invalid-feedback">
                        {% for error in form.home_address.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Biography-field #}
            <div class="cp-field">
                <div class="cpp-fiel">
                    <div class="form-group">
                        <h5>Biografia</h5>
                        <textarea class="form-control {% if form.biography.errors %}is-invalid{% endif %}"
                            name="biography">{% if form.errors %}{{ form.biography.value }}{% else %}{{ user.profile.biography }}{% endif %}</textarea>
                        <div class="invalid-feedback">
                            {% for error in form.biography.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="notbar col-sm-12 col-md-12">
                <div class="cpp-fiel">
                    <h4>Genero </h4>
                    <div class="form-control">
                        {% for value in gender %}
                            {% if value == user.profile.gender %}
                            <label class="ml-2"><input type="radio" name="gender" value="{{ value }}" checked> {{ value }}</label>
                            {% else %}
                            <label><input type="radio" name="gender" value="{{ value }}"> {{ value }}</label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6">
                <div class="cpp-fiel">
                    <h5>Pais</h5>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1"
                            style="-webkit-appearance: menulist-button;">
                            {% if user.profile.city.province.country %}
                            <option selected="true" value="{{ user.profile.city.province.country }}">{{ user.profile.city.province.country }}</option>
                            {% for value in country %}
                                {% if  value != user.profile.city.province.country %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option selected="true" disabled="disabled">Seleccione el Pais</option>
                            {% for value in country %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                    <h5>Provincia</h5>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect2"
                            style="-webkit-appearance: menulist-button;">
                            {% if user.profile.city.province %}
                            <option selected="true" value="{{ user.profile.city.province }}">{{ user.profile.city.province }}</option>
                            {% for value in province %}
                                {% if  value != user.profile.city.province %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            <option selected="true" disabled="disabled">Seleccione la Provincia</option>
                            {% for value in province %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>

                    <h5>Ciudad</h5>
                    <div class="form-group">
                        <select name="city" class="form-control" id="exampleFormControlSelect3"
                            style="-webkit-appearance: menulist-button;">
                            {% if user.profile.city %}
                                <option selected="true" value="user.profile.city">{{ user.profile.city }}</option>
                                {% for value in city %}
                                    {% if  value != user.profile.city %}
                                        <option value="value">{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option selected="true" disabled="disabled">Seleccione la Ciudad</option>
                                {% for value in city %}
                                    <option value="value">{{ value }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                </div>
            </div>
            <div class="cp-field col-sm-12 col-md-6 ">
                <div class="cpp-fiel">


                    <h5>Nivel educativo</h5>
                    <div class="form-group">
                        <select name="education_level" class="form-control" id="exampleFormControlSelect3"
                            style="-webkit-appearance: menulist-button;">

                            {% if user.profile.education_level %}
                            <option selected="true" value="{{ user.profile.education_level }}">
                                {{user.profile.education_level }}</option>
                            {% for value in studies %}
                            {% if  value  != user.profile.education_level %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <option selected="true" disabled="disabled">Seleccione el Nivel Educativo</option>
                            {% for value in studies %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                            {% endif %}

                        </select>
                    </div>
                    <h5>Medio en el que laboras</h5>
                    <div class="form-group">
                        <select name="work_area" class="form-control" id="exampleFormControlSelect3"
                            style="-webkit-appearance: menulist-button;">
                            {% if user.profile.work_area %}
                            <option selected="true" value="{{ user.profile.work_area }}">{{user.profile.work_area }}</option>
                                {% for value in work %}
                                    {% if  value  != user.profile.work_area %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <option selected="true" disabled="disabled">Seleccione el medio en el que labora</option>
                                {% for value in work %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                </div>
                <div>
                    <div class="cpp-fiel">
                        <h5>Cumpleaños </h5>
                        <div class="EditProfile-input">
                            <input type="date" name="birth_date" value="{{ user.profile.birth_date |date:"Y-m-d" }}">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="save-stngs pd2">
            <ul>
                <li><button type="submit">Guardar Configuracion</button></li>
                <li><button type="submit">Cancelar Configuracion</button></li>
            </ul>
        </div>
    </form>
</div>
<!--acc-setting end-->