{% extends 'base.html' %}
{% load static %}
{% block head_content %}
   
{% endblock%}

{% block nav %}
    {% include 'nav.html' %}
{% endblock%}

{% block content %}

    {% block other_top %}
    {% endblock %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        {% block row %}
                       
                        {% endblock %}
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
    {% block other_button %}
    {% endblock %}

{% endblock %}