{% extends 'base.html' %}
{% load static %}
{% block head_content %}
   
{% endblock%}
{% block nav %}
    {% include 'nav.html' %}
{% endblock%}
{% block content %}
<main>
    <div class="main-section">
        <div class="container-fluid">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-2 offset-lg-1 col-md-8 offset-md-2 pd-right-none">
                        {% block info_user %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-6 col-md-12 pd-right-none pd-left-none">
                        {% block posts %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-2 col-md-8 pd-left-none ">
                        {% block filter %}
                        {% endblock %}
                        <!--filter-secs end-->
                    </div>

                </div>
            </div><!-- main-section-data end-->
        </div> 
    </div>
</main>

{% block post_project %}
{% endblock %}

{% endblock %}