{% load static %}
<div class="posts-section">
    <div class="box">
        <a alt="{{ project.title }}" title="{{ project.title }}" href="{% url 'posts:detail_project' project.pk %}">
            <img class="card-img-top" src="{{ project.image.url }}" alt="Project"></a>
        <div class="txt">
            <div class="usy-dt">
                <a href="{% url 'users:detail' project.user.username %}">
                    {% if project.profile.picture %}
                    <img src="{{ project.profile.picture.url }}" alt="profile-image" width="50" height="50">
                    {% else %}
                    <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="50" height="50">
                    {% endif %}
                </a>
                <div class="usy-name pt-2">
                    <a href="{% url 'users:detail' project.user.username %}">
                        <h3>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">{{ project.user.first_name }} {{ project.user.last_name }}</font>
                            </font>
                        </h3>
                    </a>
                    <span><img src="{% static 'img/clock.png' %}" alt="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{ project.created }}</font>
                        </font>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="post-bar pt-1">
        <div class="epi-sec">
            <ul class="descp">
                <li><img src="{% static 'img/icon8.png' %}" alt=""><span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{ project.profile.work_area }}</font>
                        </font>
                    </span></li>
                <li><img src="{% static 'img/icon9.png' %}" alt=""><span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{ project.profile.city }}</font>
                        </font>
                    </span></li>
            </ul>
            {% if project.profile.user == request.user %}
            <ul class="bk-links">
                <li><a title="Editar"  href="{% url 'posts:update_project' project.pk %}"><i class="la la-edit"></i></a></li>
                <li><a title="Eliminar"  href="{% url 'posts:delete_project' project.pk %}"><i class="la la-trash-o"></i></a></li> 
            </ul>
            {% else %}
            <ul class="bk-links">
                <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                <li><a href="#" title=""><i class="la la-envelope"></i></a></li> 
            </ul>
            {% endif %}

        </div>
        <div class="job_descp">
            <h3><a href="{% url 'posts:detail_project' project.pk %}">{{ project.title }}</a></h3>
            <p>{{ project.description|slice:":120" }} <a href="{% url 'posts:detail_project' project.pk %}" title="">...ver más</a></p>
    
            <ul class="skill-tags">
                <li><a href="#" title="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">HTML</font>
                        </font>
                    </a></li>
                <li><a href="#" title="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">PHP</font>
                        </font>
                    </a></li>
                <li><a href="#" title="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">CSS</font>
                        </font>
                    </a></li>
                <li><a href="#" title="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Javascript</font>
                        </font>
                    </a></li>
    
            </ul>
        </div>
        <div class="job-status-bar">
            <ul class="like-com">
                <li>
                    <a href="#"><i class="fas fa-heart"></i>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> Me gusta</font>
                        </font>
                    </a>
                    <img src="{% static 'img/liked-img.png'  %}" alt="">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">25</font>
                        </font>
                    </span>
                </li>
            </ul>
            <a href="#"><i class="fas fa-eye"></i>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Vistas 50</font>
                </font>
            </a>
        </div>
    </div>
</div>
