{% load static %}
{% load humanize %}
<div class="posts-section">
    <div class="box">
        <a alt="{{ project.title }}" title="{{ project.title }}" href="{% url 'posts:detail_project' project.url %}">
            <img class="card-img-top" src="{{ project.image.url }}" alt="Project"></a>
        <div class="txt">
            <div class="usy-dt">
                <a href="{% url 'users:detail' project.user.username %}">
                    {% if project.profile.picture %}
                    <img src="{{ project.profile.picture.url }}" alt="profile-image" width="50" height="50">
                    {% else %}
                    <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="50" height="50">
                    {% endif %}
                </a>
                <div class="usy-name pt-2">
                    <a href="{% url 'users:detail' project.user.username %}">
                        <h3>
                            {{ project.user.username}}
                        </h3>
                    </a>
                    <span>
                        <i class="fas fa-clock mr-1"></i>{{ project.created|naturaltime }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="post-bar pt-1">
        <div class="epi-sec">
            <ul class="descp">
                <li>
                    <img src="{% static 'img/icon8.png' %}" alt="">
                    <span>
                        {{ project.category }}
                    </span></li>
                <li><img src="{% static 'img/icon9.png' %}" alt=""><span>
                       {{ project.status}}
                    </span></li>
            </ul>
            {% if project.profile.user == request.user %}
            <ul class="bk-links">
                <li><a title="Editar"  href="{% url 'posts:update_project' project.url %}"><i class="la la-edit"></i></a></li>
                <li><a title="Eliminar"  href="{% url 'posts:delete_project' project.url %}"><i class="la la-trash-o"></i></a></li> 
            </ul>
            {% else %}
            <ul class="bk-links">
                <li><a href="#" title=""><i class="la la-envelope"></i></a></li> 
            </ul>
            {% endif %}

        </div>
        <div class="job_descp">
            <h3><a href="{% url 'posts:detail_project' project.url %}" title="{{ project.title }}">{{ project.title}}</a></h3>
            <p>{{ project.description|slice:":120" }} <a href="{% url 'posts:detail_project' project.url %}" title="">...ver más</a></p>
        </div>
        <div class="job-status-bar">
            <ul class="like-com">
                <li>
                    <a href="{% url 'iteractions:like_project' project.id project.id %}">
                        <i class="fas fa-heart"></i> 
                        Me gusta</a>
                    <img src="{% static 'img/liked-img.png'  %}" alt="">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{project.likes}}</font>
                        </font>
                    </span>
                </li>
            </ul>
            <a href="#"><i class="fas fa-eye"></i>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{project.views}}</font>
                </font>
            </a>
        </div>
    </div>
</div>
