{% extends 'posts/base.html' %}
{% load humanize %}
{% load static %}
{% block head_content %}
   project | VentGram
{% endblock%}

    {% block other_top %}
    {% endblock %}
        {% block row %}
        <div class="col-lg-5 col-md-7 pd-left-none">
            <div class="usy-dt">
                {% if request.user.profile.picture %}
                    <img src="{{ user.profile.picture.url }}"  alt="profile-image" width="40" height="40">
                {% else %}
                <a href="{% url 'users:detail' request.user.username %}" class="like-coms" type="button">
                    <span style="margin-top: 0px; width: 40px;height: 40px;padding-top: 4px;">{{request.user.first_name|first}}{{request.user.last_name|first}}</span>
                </a>
                {% endif %}
                </div>
            <div class="post-st mb-3">
                <ul>
                    <li><a href="{% url 'posts:new_project' %}" title=""><i class="far fa-plus-square mr-2"></i>Añadir nuevo proyecto</a>
                    </li>
                </ul>
            </div>
            <!--post-st end-->
        </div>
         <div class="col-lg-9 col-md-9 pd-left-none">
            <div class="main-ws-sec">
                <div class="posts-section">
                    <div class="box gallery_pt">
                        
                        <img src="{{ project.image.url }}" class="">
                        <a href="" title=""><h3 style="color: aliceblue; padding: 15px; padding-top: 25px;font-size: 22px;font-weight: 600;">{{ project.title }}</h3></a>
                    </div>
                    <div class="post-bar" style="height: 100%;">

                        <div class="user-specs pt-0 pb-0">
                            
                            <div class="ed-opts">
                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                <ul class="ed-options">

                                    {% if project.profile.user == request.user %}
                                        <li><a href="{% url 'posts:update_project' project.url %}" title="Editar">Editar</a></li>
                                        <li><a href="{% url 'posts:delete_project' project.url %}" title="Eliminar">Eliminar</a></li>
                                    {% else %}
                                        {% if favorited %}
                                            <li><a href="{% url 'iteractions:post_favorite' project.id 1 %}" title="">Quitar de Favoritos</a></li>
                                        {% else %}
                                            <li><a href="{% url 'iteractions:post_favorite' project.id 1 %}" title="">Agregar a Favoritos</a></li>
                                        {% endif %}
                                    {% endif %}

                                </ul>
                            </div>
                            
                            <h3 style="text-transform:none">{{ project.title }}</h3>
                            <a href="{% url 'users:detail' project.user.username %}">Por: {{project.user.first_name }} {{project.user.last_name}} | @{{project.user.username }}</a>
                            {% if project.collaborators %}
                            <h4 class="pt-1">colaboradores: {{ project.collaborators }}</h4>
                            {% endif %}
                            <hr>
                        </div>
                        <div class="job_descp accountnone">
                            <h3>Objetivo</h3>
                            <p>{{ project.objetive|linebreaksbr }}</p>
                                <hr>
                            <h3>Descripcion</h3>
                            <p>{{ project.description|linebreaksbr }}</p>  
                        </div>
                        
                        <div class="user_pro_status">
                            <hr>
                            <h3 class="mb-3" style="font-weight: 600;">Documento</h3>
                            <div class="row box_document_detail">

                                <div class="col-lg-9 col-md-8 col-sm-8">
                                    <h5 class="mt-3"><i class="fas fa-file-alt mr-2"></i>{{ project.document.name|slice:"25:"}}</h5>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 text-right">
                                    <a href="{{ project.document.url }}" title="DESCARGAR: {{ project.document.name|slice:'25:'}}" type="button" class="btn btn-danger mt-2 mb-2 text-center"style="padding: .275rem .55rem; font-size: 0.8rem;width: 100%; color:white ;"><i class="fas fa-download mr-1"></i>Descargar</a>
                                </div>
                            </div>  
                        </div>
                        <div class="job-status-bar btm-line mt-4">                                               
                           <ul class="like-com">
                                <li>
                                    {% if likes %}
                                    <a href="{% url 'iteractions:like_project' project.id project.url %}" class="active"><i class="fas fa-heart"></i> Me gusta  {{project.likes}}</a>
                                    {% else %}
                                    <a href="{% url 'iteractions:like_project' project.id project.url %}"><i class="fas fa-heart"></i> Me gusta  {{project.likes}}</a>
                                    {% endif %}
                                    
                                </li>
                                <li>
                                    {% if project.count_comments != 0 %}
                                    <a class="mt-3" style="color: rgb(39, 145, 231);"><i class="fas fa-comment-alt"></i> Comentarios {{project.count_comments}}</a>
                                    {% else %}
                                    <a class="mt-3" style="color: rgba(141, 141, 141, 0.726);"><i class="fas fa-comment-alt"></i> Comentarios {{project.count_comments}}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if comments %}
                                    <a class="mt-3" style="color: rgb(49, 209, 57);"><i class="fas fa-eye"></i> Vistas {{ project.views }}</a>
                                    {% else %}
                                    <a class="mt-3" style="color: rgba(141, 141, 141, 0.726);"><i class="fas fa-eye"></i> Vistas {{ project.views }}</a>
                                    {% endif %}  
                                </li>
                            </ul>
                                                                   
                        </div>

                        {% if comments %}
                        <div class="text-left">
                            <h3 style="font-size: 20px; font-weight: 600;margin-bottom: 20px;">Comentarios</h3>
                        </div>
                        {% endif %}
                        <div class="comment-area ">
                            {% for comment in comments %}
                            <div class="post_topbar">
                                {% if comment.user == request.user %}
                                <div class="ed-opts pr-3 pt-3">
                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                    <ul class="ed-options">
                                        <li><a href="{% url 'iteractions:delete-comments' comment.id project.url %}" title="Eliminar">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                                <div class="usy-dt pl-3 pt-3">
                                    {% if comment.user.profile.picture %}
                                    <a href="{% url 'users:detail' comment.user.username %}"><img src="{{ comment.user.profile.picture.url }}" alt="profile-image" width="37" height="37"></a>
                                    {% else %}
                                    <a href="{% url 'users:detail' comment.user.username %}" class="like-coms ml-1 pd-right-none" >
                                        <span class="mt-0">{{comment.user.first_name|first}}{{comment.user.last_name|first}}</span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="container-comment pt-3">
                                    <div class="comment ml-2">
                                        <h3 class="mb-1" >{{comment.user.first_name}} {{comment.user.last_name }}</h3>
                                        <span class="mb-1"><img src="{% static 'img/clock.png' %} ">{{comment.date|naturaltime}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container-comment pl-3 pr-3">
                                <div class="reply-area mb-3">
                                    <p style="font-size: 17px;">{{comment.body|capfirst}} </p> 
                                </div> 
                            </div>


                            {% endfor %}
                        </div>
                        <div class="text-left mt-5">
                            <h3 style="font-size: 20px; font-weight: 600;margin-bottom: 20px;">Agregar Comentario</h3>
                        </div>
                        <div>
                            <form method="post" action="" role="form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-12 mb-3 pd-left-none ">
                                        <div class="usy-dt">
                                            {% if request.user.profile.picture %}
                                            <a  href="{% url 'users:detail' request.user.username %}">
                                                <img src="{{ request.user.profile.picture.url }}" alt="profile-image" width="50" height="50">
                                            </a>
                                            {% else %}
                                            <a  href="{% url 'users:detail' request.user.username %}" class="like-coms mt-0 ml-1 pd-right-none" >
                                                <span style="width: 50px; height: 50px; border-radius:40px; margin-top: -16px;line-height: 42px; font-size: 26px;">{{request.user.first_name|first}}{{request.user.last_name|first}}</span>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-8 col-md-10 col-sm-12 pd-left-none">                             
                                        <form>
                                            <div class="form-group ">
                                                <textarea  type="text" name="body" class="form-control" placeholder="Escribir un comentario" rows="5" required></textarea>
                                            </div>
                                        </form>
                                    </div>
        
                                    <div class="col-lg-3 col-md-12 col-sm-12 pd-left-none mt-1">
                                        <button type="submit" name="action" class="btn btn-info" style="width: 100%;"><i class="fas fa-comment-alt mr-2"></i>Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--post-bar end-->
            </div>
         </div>
         <div class="col-lg-3 col-md-3 pd-right-none">
            {% include 'profile/info_profile_public.html' %}
        </div>             
        {% endblock %}

    {% block other_button %}
    {% endblock %}