{% extends 'posts/base.html' %}
{% block head_content %}
Inicio | VentGram
{% endblock%}
{% load static %}
<!--herencia de posts/base html estructura de cuerpo de html-->

{% block other_top %}
<!--agregar vistas al inicio sin ningun contenedor puesto -->
{% endblock %}

{% block row %}
<div class="col-lg-12 pd-right-none pd-left-none">
    <div class="row">
        {% include 'posts/new_post_shear.html' %}
        <div class="col-lg-12 pd-right-none">
            <!--main-ws-sec end-->
            <div class="sign_link">
                <h3>Ultimos proyectos publicados </h3>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 pd-right-none mb-3">
            {% include 'posts/card_project.html' %}
        </div>
        <div class="col-lg-4 col-md-6 pd-right-none mb-3">
            {% include 'posts/card_project.html' %}
        </div>
        <div class="col-lg-4 col-md-6 pd-right-none mb-3">
            {% include 'posts/card_project.html' %}
        </div>
        <div class="col-lg-4 col-md-6 pd-right-none mb-3">
            {% include 'posts/card_project.html' %}
        </div>
        <div class="col-lg-4 col-md-6 pd-right-none mb-3">
            {% include 'posts/card_project.html' %}
        </div>  

    </div>
</div>
{% endblock %}

{% block other_button %}
<!--agregar vistas al final sin ningun contenedor puesto -->
<div class="post-popup pst-pj">
    {% include 'posts/post_project.html' %}
</div><!--post-project-popup end-->
{% endblock %}

<!--herencia de posts/base html estructura de cuerpo de html-->