     <!--user-info end-->
<div class="filter-heading pb-1 pl-0">
    <h3>Filtros</h3>
 </div><!--filter-heading end-->
 <div class="paddy">
     <div class="pb-2">
         <a href="#" title="">Proyectos nuevos</a>
     </div>
     <div class="pb-2">
         <a href="#" title="">Proyectos mas vistos</a>
     </div>
     <div class="pb-2">
         <a href="#" title="">Proyectos ma comentados</a>
     </div>
     <div class="pb-2">
         <a href="#" title="">Proyectos populares</a>
     </div>
     <div class="pb-2">
         <a href="#" title="">Proyectos mejor valorados</a>
     </div>
 
 </div>               
    <!--user-info end-->
<div class="filter-heading pb-1 pl-0">
   <h3>Categoria</h3>
</div><!--filter-heading end-->
<div class="paddy">
    <div class="pb-2">
        <a href="#" title="">Desarrollo e ingenieria</a>
    </div>
    <div class="pb-2">
        <a href="#" title="">Diseño</a>
    </div>
    <div class="pb-2">
        <a href="#" title="">Marketing</a>
    </div>
    <div class="pb-2">
        <a href="#" title="">Negocios</a>
    </div>
    <div class="pb-2">
        <a href="#" title="">Produccion audiovisual</a>
    </div>

</div>
