{% extends 'posts/base.html' %}
{% block head_content %}
    Filtros | VentGram
{% endblock%}
{% load static %}

    {% block other_top %}
    {% endblock %}
    
    {% block row %}
    <div class="col-lg-3 col-md-4">
        <div class="filter-heading pb-1 pl-0">
            <h3>Filtros</h3>
         </div><!--filter-heading end-->
         <div class="paddy">
             <div class="pb-2">
                 <a href="#" title="">Proyectos nuevos</a>
             </div>
             <div class="pb-2">
                 <a href="#" title="">Proyectos mas vistos</a>
             </div>
             <div class="pb-2">
                 <a href="#" title="">Proyectos ma comentados</a>
             </div>
             <div class="pb-2">
                 <a href="#" title="">Proyectos populares</a>
             </div>
             <div class="pb-2">
                 <a href="#" title="">Proyectos mejor valorados</a>
             </div>
         
         </div>               
            <!--user-info end-->
        <div class="filter-heading pb-1 pl-0">
           <h3>Categoria</h3>
        </div><!--filter-heading end-->
        <div class="paddy">
            {% for category in categorys %}
            <div class="pb-2">
                <a href="#" title="">{{ category }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-9 col-md-8 pd-right-none pd-left-none">
        <div class="row">
            {% include 'posts/section_post_shear.html' %}
            <div class="col-lg-12 pd-right-none">
                <!--main-ws-sec end-->
                <div class="sign_link">
                    <h3>Proyectos nuevos</h3>  
                </div>
            </div>
            {% if projects %}
                {% for project in projects %}
                    <div class="col-lg-6 col-md-12 pd-right-none mb-3">
                        {% include 'posts/card_project.html' %}
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-lg-6 col-md-12 pd-right-none mb-3">
                <h1>No hay proyectos publicados</h1>
            </div>
            {% endif %}
            </div>
            {% include 'pagination.html' %}
    </div>
 
    {% endblock %}
    
    {% block other_button %}

    {% endblock %}