{% extends 'posts/base.html' %}
{% block head_content %}
    Filtros | VentGram
{% endblock%}
{% load static %}

    {% block other_top %}
    {% endblock %}
    
    {% block row %}
    <div class="col-lg-3 col-md-4">
        <div class="filter-heading pb-1 pl-0">
            <h3>Filtros</h3>
         </div><!--filter-heading end-->
         <div class="paddy">
             <div class="pb-2">
                <div class="box_category mb-1">
                    <a href="{% url 'posts:list_project' %}">
                        <img src="{% static 'img/fon.jpg' %}" class="card-img-filter" alt="">
                        <div class="txt mt-4">
                            <div class="usy-name mt-2" >
                                <h3>Ver Todos</h3>
                            </div>
                        </div>
                    </a>     
                </div>
             </div>
         </div>
         <div class="filter-heading pb-1 pl-0">
            <h3>Categoria</h3>
         </div><!--filter-heading end-->
         <div class="paddy">
             {% for category in categorys %}
             <div class="pb-2">
             <form method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                 <div class="box_category mb-1">
                     <input type="hidden" name="filtroCategoria" value="{{ category.pk }}" />
                     <input type="hidden" name="filtro_name" value="{{ category }}" />
                     <img src="{{ category.image.url }}" alt="">
                     <button class="btn" class="active">
                             <div class="usy-name mt-1" >
                                 <h3>{{ category }}</h3>
                              </div>
                     </button>
                 </div>
             </form>
             </div>
             {% endfor %}
             
         </div>               
            <!--user-info end-->
            <div class="filter-heading pb-1 pl-0">
                <h3>Estado</h3>
             </div><!--filter-heading end-->
            <div class="paddy">
                {% for status in statuss %}
                <div class="pb-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box_category mb-1">
                        <input type="hidden" name="filtroEstado" value="{{ status.pk }}" />
                        <input type="hidden" name="filtro_name" value="{{ status }}" />
                        <img src="{{ status.image.url }}" alt="">
                        <button class="btn" class="active">
                                <div class="usy-name mt-1" >
                                    <h3>{{ status }}</h3>
                                 </div>
                        </button>
                    </div>
                </form>
                </div>
                {% endfor %}
            </div>



    </div>
    <div class="col-lg-9 col-md-8 pd-right-none pd-left-none">
        <div class="row">
            {% include 'posts/section_post_shear.html' %}
            <div class="col-lg-12 pd-right-none">
                <!--main-ws-sec end-->
                <div class="sign_link">
                    {% if request.POST.filtro_name %}
                    <h3>{{context}}{{ request.POST.filtro_name }}</h3>
                    {% else %}
                    <h3>PROYECTOS DE EMPRENDIMIENTO</h3>
                    {% endif %}
                </div>
            </div>
            {% if projects %}
                {% for project in projects %}
                    <div class="col-lg-6 col-md-12 pd-right-none mb-3">
                        {% include 'posts/card_project.html' %}
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-lg-6 col-md-12 pd-right-none mb-3">
                <h1>No existen proyectos publicados</h1>
            </div>
            {% endif %}
            </div>
            {% if projects %}
            {% include 'pagination.html' %}
            {% endif %}
    </div>
 
    {% endblock %}
    
    {% block other_button %}

    {% endblock %}