
    <div class="post-project">
        <h3>Publicar Proyecto</h3>
        <div class="post-project-fields">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Imagen</h4>
                        <input class="py-2" type="file" id="file" name="image">
                    </div>
                    <div class="col-lg-12">
                        <h4>Titulo</h4>
                        <input type="text" name="title" placeholder="Ingrese un titulo">
                    </div>
                    <div class="col-lg-12">
                        <h4>Categoria</h4>
                        <div class="inp-field">
                            <select>
                                <option>Categoria</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4>Objetivo</h4>
                        <input type="text" name="objective" placeholder="Ingrese el objetivo del proyecto">
                    </div>
                    <div class="col-lg-12">
                            <h4>Estado</h4>
                            <div class="inp-field">
                                <select>
                                    <option>Iniciado</option>
                                    <option>En Proceso</option>
                                    <option>Finalizado</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-lg-12">
                        <h4>Url</h4>
                        <input type="text" name="objective" placeholder="Ingrese ela url del proyecto">
                    </div>
                    <div class="col-lg-12">
                        <h4>Documento</h4>
                        <input class="py-2" type="file" id="file" name="image">
                    </div>
                    <div class="col-lg-12">
                        <h4>Descripcion</h4>
                        <textarea name="description" placeholder="Ingrese una descripcion"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="{% url 'posts:feed' %}" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->

