{% extends 'posts/base.html' %}
{% block head_content %}
Confirmacion de eliminacion | VentGram
{% endblock%}
{% load static %}

{% block row %}
<div class="offset-lg-3 col-lg-6">
    <div class="box">
        <img src="{{ project.image.url }}" alt="">
    </div>
    <div class="portfolio-gallery-sec">
        <form action="" method="POST">
            {% csrf_token %}
            <h3>Desea Eliminar El Proyecto de  {{object}}</h3>
                <div class="save-stngs text-center pt-0">
                    <ul>
                        <li><button class="btn"> Confirmar </button></li>
                        <li><a href="{% url 'users:detail' request.user.username %}" class="btn btn-danger" > Cancelar </a></li>
                    </ul>
                    
                    
                </div>
        </form>
        
    </div>
</div>
{% endblock %}