{% load static %}
<div class="col-lg-5 col-md-7 pd-right-none">
    <div class="usy-dt">
        {% if user.profile.picture %}
        <img src="{{ user.profile.picture.url }}" alt="profile-image" width="40" height="40">
        {% else %}
        <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="40" height="40">
        {% endif %}
    </div>
    <div class="post-st mb-3">
        <ul>
            <li><a href="{% url 'posts:new_project' %}" title="">
                    <i class="far fa-plus-square mr-2"></i>Añadir nuevo proyecto</a>
            </li>
        </ul>
    </div>
    <!--post-st end-->
</div>
<div class="offset-lg-3 col-lg-4  col-md-5 pd-right-none mt-1">
    <div class="search-bar mb-3">
        <form>
            <input type="text" name="search" placeholder="Search...">
            <button type="submit"><i class="la la-search"></i></button>
        </form>
    </div>
    <!--search-bar end-->
</div>