{% extends 'posts/base.html' %}
{% block head_content %}
Messages | VentGram
{% endblock%}

{% load static %}
{% load humanize %}
<!--herencia de posts/base html estructura de cuerpo de html-->

{% block row %}
<div class="col-lg-10 offset-lg-1">
	<div id="frame">
		<div id="sidepanel">

			<!--buscar usuario
			{% if messages %}
			<div id="search" class="text-center mt-2">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
					<input type="text" name="buscar" placeholder="Buscar conversacion..." value="{{ request.POST.buscar }}" />
				</form>
			</div>
			{% endif %} -->
			
			<!--Mostrar contactos de mensajes-->
			<div id="contacts" class="mt-3">
				<ul style="margin-right: 0px;">
					{% if not messages%}
					<div class="text-center mt-3">
						<span style="color: white;">No existen conversaciones</span>
					</div>
					
					{%else%}
					{% for message in messages %}
						<a class="{% if active_direct == message.user.username %}is-active{% endif %}"
							href="{% url 'iteractions:directs' message.user.username%}">
							<li class="contact">
								<div class="wrap">
									<span class="contact-status online"></span>
									{% if message.user.profile.picture %}
									<img src="{{ message.user.profile.picture.url }}" alt="profile-image" width="37"
										height="37">
									{% else %}
									<div class="like-coms-chat" >
										<h2>{{message.user.first_name|first}}{{message.user.last_name|first}}</h2>
									</div>
									{% endif %}
									<div class="meta">
										<p class="name" style="color: white;">{{message.user.first_name}} {{message.user.last_name}}</p>
										{% if message.unread %}
										<p class="preview" style="font-weight: normal; color: rgb(255, 255, 255);"><i
												class="fas fa-comment-dots"></i> {{ message.unread }} Mensajes nuevos...</p>
										{% endif %}
									</div>
								</div>
							</li>
						</a>
					{% endfor %}
					{%endif%}
				</ul>
			</div>

			<!--Nueva conversacion-->
			<div id="bottom-bar">
				<a href="{% url 'iteractions:list_user' %}">
					<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Nuevo mensaje</span></button>
				</a>
			</div>
		</div>
		{% if request.user.username != username %}
		<div class="content">
			<div class="contact-profile">
				{% if active_direct.profile.picture %}
				<a href="{% url 'users:detail' active_direct.username %}"><img src="{{ active_direct.profile.picture.url }}" alt="profile-image" width="37" height="37"></a> 
				{% else %}
				<a href="{% url 'users:detail' active_direct.username %}"> 
					<div class="like-coms">
						<span
							class="mt-2 ml-2 mr-2">{{active_direct.first_name|first}}{{active_direct.last_name|first}}</span>
					</div>
				</a> 
				{% endif %}
				<a href="{% url 'users:detail' active_direct.username %}"><p style="margin-top: 15px;">{{active_direct.first_name}} {{active_direct.last_name}}</p></a>
				<div class="ed-opts">
					<a href="" title="" class="ed-opts-open pr-3 pt-1" ><i class="la la-ellipsis-v"></i></a>
					<ul class="ed-options" style="top: 82%; height: 40px; line-height: 0px; background-color:rgba(235, 19, 19, 0.747);">
							<li><a href="{% url 'iteractions:delete_conversation' active_direct.id %}" title="Eliminar" style="color: white;">Eliminar Chat</a></li>
					</ul>
				</div>
				<div class="social-media">
					{% if active_direct.profile.facebook %}
					<a href="{{ active_direct.profile.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
					{% endif %}
					{% if active_direct.profile.twitter %}
					<a href="{{ active_direct.profile.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a> 
					{% endif %}
					{% if active_direct.profile.linkedin %}
					<a href="{{ active_direct.profile.linkedin }}" target="_blank" style="color: rgb(0, 123, 182);"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
					{% endif %}
					{% if active_direct.profile.github %}
					<a href="{{ active_direct.profile.github }}" target="_blank" style="color: rgb(77, 77, 77);"><i class="fa fa-github" aria-hidden="true"></i></a>
					{% endif %}
					
				</div>

			</div>
			<!--Mostrar mensaje-->
			<div class="messages">
				<ul>
					{% for direct in directs %}
						{% if direct.body != '' %}
						{% if direct.sender == request.user %}
							<li class="replies text-right mb-0" >
								<p class="ml-1 ">{{direct.body}}</p>
							</li>
							<li class="mt-0 pt-0">
								<div class="date text-right mr-2">
									<h2>{{ direct.date|naturaltime }}</h2>
								</div>
							</li>
						{% else %}
							<li class="sent">
								<p>{{direct.body}}</p>
								<div class="date">
									<h1 class="ml-2">{{ direct.date|naturaltime }}</h1>
								</div>
							</li>
						{% endif %}

						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<!--Enviar mensaje-->
			<form role="form" method="POST" action="{% url 'iteractions:send-direct' %}">
				{% csrf_token %}
				<div class="message-input">
					<div class="wrap">
						<input type="hidden" name="to_user" value="{{ active_direct }}" />
						<textarea name="body" placeholder="Escribe un mensaje..." ></textarea>
						<button type="submit" name="action"><i class="fa fa-paper-plane"
								aria-hidden="true"></i></button>
					</div>
				</div>
			</form>
		</div>
		{% else %}
		<div class="content">
			<div class="contimg">
				<div class="text-center">
					<h1>Inicia una <br> conversación</h1>
				</div>
				<img src="{% static 'img/Logo_VG.png' %}">
				<img src="{% static 'img/cm-main-img.png' %}" style="filter: hue-rotate(900deg);" >	
			</div>
			
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}