{% extends 'posts/base.html' %}
{% block head_content %}
Messages | VentGram
{% endblock%}

{% load static %}
<!--herencia de posts/base html estructura de cuerpo de html-->

{% block row %}
<div class="col-lg-10 offset-lg-1">
	<div id="frame">
		<div id="sidepanel">
			<div id="search" class="text-center mt-2">
				<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
				<input type="text" placeholder="Search contacts..." />
			</div>
			<!--Mostrar contactos de mensajes-->
			<div id="contacts">
				<ul style="margin-right: 0px;">
					{% if not messages%}
					<span style="color: white;">No existen conversaciones</span>
					{%else%}
					{% for message in messages %}					
					<a class="{% if active_direct == message.user.username %}is-active{% endif %}"
						href="{% url 'iteractions:directs' message.user.username%}">
						<li class="contact">
							<div class="wrap">
								<span class="contact-status online"></span>
								{% if message.user.profile.picture %}
								<img src="{{ message.user.profile.picture.url }}" alt="profile-image" width="37"
									height="37">
								{% else %}
								<div class="like-coms-chat" >
									<h2>{{message.user.first_name|first}}{{message.user.last_name|first}}</h2>
								</div>
								{% endif %}
								<div class="meta">
									<p class="name" style="color: white;">{{message.user.first_name}} {{message.user.last_name}}</p>
									
									{%if message.unread%}
									<p class="preview" style="font-weight: normal; color: rgb(255, 255, 255);"><i
											class="fas fa-comment-dots"></i> {{message.unread}} Mensajes nuevos...</p>
									{%endif%}
								</div>
							</div>
						</li>
					</a>
					{% endfor %}
					{%endif%}
				</ul>
			</div>
			<!--Nueva conversacion-->
			<div id="bottom-bar">
				<a href="{% url 'iteractions:list_user' %}">
					<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Nuevo
							mensaje</span></button>
				</a>
			</div>
		</div>

		<div class="content">
			<div class="contact-profile">
				{% if active_direct.profile.picture %}
				<img src="{{ active_direct.profile.picture.url }}" alt="profile-image" width="37"
					height="37">
				{% else %}
				<div class="like-coms">
					<span
						class="mt-2 ml-2 mr-2">{{active_direct.first_name|first}}{{active_direct.last_name|first}}</span>
				</div>
				{% endif %}
				<p style="margin-top: 15px;">{{active_direct.first_name}} {{active_direct.last_name}}</p>
				
				<div class="social-media">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
			</div>
			<!--Mostrar mensaje-->
			<div class="messages">
				<ul>
					{% for direct in directs %}
					<li class="sent">
						{% if direct.sender.profile.picture %}
						<img src="{{ direct.sender.profile.picture.url }}" alt="" width="20" height="20">
						{% else %}
						<div class="like-coms">
							<span class="mt-0">{{direct.sender.first_name|first}}{{direct.sender.last_name|first}}</span>
						</div>
						{% endif %}
						<p class="ml-1">{{direct.body}}</p>
					</li>
					{% endfor %}
				</ul>
			</div>

			<!--Enviar mensaje-->
			<form role="form" method="POST" action="{% url 'iteractions:send-direct' %}">
				{% csrf_token %}
				<div class="message-input">
					<div class="wrap">
						<input type="hidden" name="to_user" value="{{ active_direct }}" />
						<textarea name="body" placeholder="Escribe un mensaje..."></textarea>
						<button type="submit" name="action"><i class="fa fa-paper-plane"
								aria-hidden="true"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}