/* ----General*/
.fijo{
  margin-top: -30px;
}
.spans {
	background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: center;
  line-height: 1em;
  margin-right: 0px;
  text-align: center;
  width: 1.6em;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
}

.h4, h4 {
  font-size: 1.125rem;
  color:rgb(90, 90, 90)
}

.h5, h5{
  font-weight: 600;
  font-size: 1.125rem;
  color:rgb(90, 90, 90)
}

.h6, h6{
  font-weight: 600;
  font-size: 1.125rem;
  color:rgb(70, 70, 70)
}
.negrita{
  font-weight: 600;
  color:rgb(90, 90, 90)
}

.file_s {
  width: 100%;
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.text-muted {
  color: #98a6ad!important;
}
.font-13 {
  font-size: 13px!important;
}

/* ----General*/


/* ----image cabecera*/


/* ----image cabecera*/

/* ----footer*/
footer{
  background: #191431;
  background: linear-gradient(to right, rgb(43, 43, 71), rgb(24, 24, 41) );
  width: 100%;
  position: relative;
  align-self: flex-end;

}
.cuerpo{
  height: calc(100vh - 81px);
}
/* ----footer*/

/* ----navbar*/
#header img{
    width:50px;
}
.navbar {
  background: #191431;
  background: linear-gradient(to right, rgb(2, 102, 94), rgb(43, 43, 71) );
}
/* ----navbar*/

/* ----image-Home*/
.fondo{
  width: 100%;
  height: 524px;
}
.fondo img{
  padding: 56px 0px 56px 0px;
}

/* ----image-Home*/



/* ----carrusel----*/
#main .carousel-inner img {
  max-height: 50vh;
  object-fit: cover;
  filter: grayscale(10%);
}

.logo1 a{
	float: left;
	width: 200px;
	margin-right: 14px;
	margin-top: 3px;
}
#carousel{
  position: relative;

}

#carousel .overlay {
  z-index: 1;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
#container-fluid{
  background:rgb(83, 81, 81) !important;
}
.btn-suscribe{
  background-color:rgb(48, 80, 187) !important;
  color: white !important;
}
.btn-suscribe:hover{
  background-color:rgba(15, 57, 146, 0.897) !important;
  }
/* ----carrusel----*/

/* ----card contenedor image*/
.container-comment{
  width: 100%;
  background-color:rgb(248, 248, 248);
  border-radius: 10px;
}
.box {
  width: 100%;
  height: 115px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px;
  float: left;
  background-color:rgb(255, 255, 255);
  position:relative;
  display: flex;
  align-items: center;
}

.contimg{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 72, 105), rgb(0, 121, 129) );
}
.contimg h1{
  font-family: fantasy;
  color: white;
  font-size: 40px; 
  font-weight: 500;
  padding: 70px 20px 0px 20px;
}
.contimg img{
  margin: auto;
  display: block;
  padding:0px 70px 20px 70px ;
}

.limitar{
  word-break: break-all;
}
.box-general{
  padding: 10px;
  border: 1px solid #ccc;
}
.box_document{
  width: 100%;
  border:2px dashed #bbb;
  color: #191431;
  word-break: break-all;

}
.box_document_detail{
  width: 100%;
  border:1px dashed rgb(207, 207, 207);
  word-break: break-all;

}

.box_document a{
  color: #004ab9;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0px;
}
 
.box_document a:hover{
  color: rgb(29, 159, 211);
}   
.box_category{
  width: 100%;
  height: 60px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px;
  float: left;
  background-color:rgb(255, 255, 255);
  position:relative;
  display: flex;
  align-items: center;
}
.logo a h3{
  color: white;
  font-size: 40px;
  border-radius:50%;
}

.txt {
  position: absolute;
  margin-top: 50px;
  padding: 20px;
}
.box_category a h3{
  position: absolute;
  margin-top: 50px;
  padding: 7px 20px 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.box_category button{
  background-color: rgba(19, 19, 19, 0.432);
  position: absolute;
  width:100%; 
  height: 100%; 
  border:0px;
}

.box_category button:hover{
  background-color: rgba(66, 66, 66, 0.247);
  position: absolute;
  width:100%; 
  height: 100%; 
  border:0px; 
}

.box_category button:focus{
  background-color:rgba(97, 34, 148, 0.473);
}


.card-img-top{
  filter:brightness(60%);
}
.card-img-top:hover{
  filter:brightness(70%);
}

.card-img-filter{
  filter:brightness(75%);
}
.card-img-filter:hover{
  filter:brightness(90%);
}

@media(max-width: 991px){
  .box{
    height: 120px;
  }
}

@media(max-width:768px){
  .box{
    height: 130px;
  }

}



/* ----card contenedor image*/
