/* ----General*/
html, body {
  background: #fafafa;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

footer{
  background: #191431;
  background: linear-gradient(to right, rgb(43, 43, 71), rgb(24, 24, 41) );
  width: 100%;
  position: relative;
  align-self: flex-end;

}


/* ----navbar*/
#header img{
    width:50px;
}
.navbar {
  background: #191431;
  background: linear-gradient(to right, rgb(2, 102, 94), rgb(43, 43, 71) );
}

/* ----carrusel*/
#main .carousel-inner img {
  max-height: 50vh;
  object-fit: cover;
  filter: grayscale(10%);
}


#carousel{
  position: relative;

}

#carousel .overlay {
  z-index: 1;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
#container-fluid{
  background:rgb(83, 81, 81) !important;
}
.btn-suscribe{
  background-color:rgb(48, 80, 187) !important;
  color: white !important;
}
.btn-suscribe:hover{
  background-color:rgba(15, 57, 146, 0.897) !important;
  }


/* ----card contenedor image*/

@media(max-width:768px){
  .card-img-top{
      filter: brightness(100%);
  
  }
  .card-img-top:hover{
      filter:brightness(85%);
  }
}
@media(min-width: 769px){
  .card-img-top{
      filter: brightness(100%);
  }
  .card-img-top:hover{
      filter:brightness(85%);
  }