{% load static %}
<footer>
  <div class="footy-sec mn no-margin">
    <div class="container text-center">
      <ul>
        <li><a href="" title="">Centro de ayuda</a></li>
        <li><a href="" title="">Principios de la comunidad</a></li>
        <li><a href="" title="">Politicas de privacidad</a></li>
        <li><a href="" title="">Politicas de derecho de autor</a></li>
        <li><a href="" title="">Politicas de cookies</a></li>
      </ul>
      <p><img src="{% static 'img/copy-icon2.png' %}" alt="Copyright">Copyright 2020</p>
      <img class="fl-rgt" src="{% static 'img/footerlogo.png' %}" alt="">
    </div>
  </div>
</footer>