<footer id="footer" class="pb-5 pt-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md-4 ">
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-md-4 ">
          <a href="#">Contactanos</a>
        </div>
        <div class="col-12 col-md-4 ">
          <a href="#">Prensa</a>
        </div>
        <div class="col-12 col-md-4 ">
          <a href="#">Buscanos</a>
        </div>
        <div class="col-12 col-md-4 ">
          <a href="#">Hola</a>
        </div>
        <div class="col-12 col-md-4 ">
          <a href="#">Mas</a>
        </div>
      </div>
    </div>
  </footer>