{% extends 'base.html' %}
{% load static %}

{% block head_content %}
Ventgram | Gestor de Proyectos de Emprendimiento
{% endblock%}

{% block nav %}
  {% include 'nav_home.html' %}
{% endblock %}

{% block content %}

<div class="main-section" id="main">

<!--Imagen-->
<div class="container-fluid pd-left-none pd-right-none"> 
  <div class="row">
    <div class="fondo">
      <img src="{% static 'img/imagenfondo.png' %}" height="524px" width="500">
    </div>
  </div>
</div>
<!--Imagen-->

<!--contenido-->
  <div class="container">
    <br>
<!--title-->
    <div class="row">
      <div class="col text-center text-uppercase">
        <small>Conoce los </small>
        <h2>Proyectos</h2>
      </div>
    </div>
    <hr>
<!--title-->
<!--content-->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        
      </div>
    </div>
  </div>
<!--contenido-->

</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}