{% load static %}
<div class="container">
  <div class="header-data">
    <div class="logo">
      <a href="{% url 'posts:feed' %}" title=""><img src="{% static 'img/logo.png' %}" alt=""></a>
    </div><!--logo end-->
    <nav>
      <ul>
        <li>
          <a href="{% url 'posts:feed' %}" title="">
            <span><img src=" {% static 'img/icon1.png' %}" alt=""></span>
            Inicio
          </a>
        </li>
        <li>
          <a href="projects.html" title="">
            <span><img src="{% static 'img/icon3.png' %}" alt=""></span>
            Proyectos
          </a>
        </li>
        <li>
          <a href="{% url 'users:profile' %}" title="Perfil">
            <span><img src="{% static 'img/icon4.png' %}" alt=""></span>
            Perfil
          </a>
          <ul>
            <li><a href="user-profile.html" title="">User Profile</a></li>
            <li><a href="my-profile-feed.html" title="">my-profile-feed</a></li>
          </ul>
        </li>
        <li>
          <a href="#" title="" class="not-box-openm">
            <span><img src="{% static 'img/icon6.png' %}" alt=""></span>
            Mensajes
          </a>
          <div class="notification-box msg" id="message">
            <div class="nt-title">
              <h4>Configuracion</h4>
              <a href="#" title="">Clear all</a>
            </div>
            <div class="nott-list">
              <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src=" {% static 'img/resources/ny-img1.png' %}" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="messages.html" title="">Jassica William</a> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="img/resources/ny-img2.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="img/resources/ny-img3.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="view-all-nots">
                  <a href="messages.html" title="">View All Messsages</a>
                </div>
            </div><!--nott-list end-->
          </div><!--notification-box end-->
        </li>
        <li>
          <a href="#" title="" class="not-box-open">
            <span><img src="{% static 'img/icon7.png' %}" alt=""></span>
            Notificaciones
          </a>
          <div class="notification-box noti" id="notification">
            <div class="nt-title">
              <h4>Setting</h4>
              <a href="#" title="">Clear all</a>
            </div>
            <div class="nott-list">
              <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="images/resources/ny-img1.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="images/resources/ny-img2.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="images/resources/ny-img3.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="notfication-details">
                  <div class="noty-user-img">
                    <img src="images/resources/ny-img2.png" alt="">
                  </div>
                  <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                  </div><!--notification-info -->
                </div>
                <div class="view-all-nots">
                  <a href="#" title="">View All Notification</a>
                </div>
            </div><!--nott-list end-->
          </div><!--notification-box end-->
        </li>
      </ul>
    </nav><!--nav end-->
    <div class="menu-btn">
      <a href="#" title=""><i class="fa fa-bars"></i></a>
    </div><!--menu-btn end-->
    <div class="user-account">
      <div class="user-info mr-0">
        {% if user.profile.picture %}
          <img src="{{ user.profile.picture.url }}" alt="profile-image" width="35" height="35">
        {% else %}
          <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="35" height="35">
        {% endif %}
      </div>
      <div class="user-account-settingss" id="users">
        <ul class="on-off-status">
            <div class="usy-dt mr-2">
                {% if user.profile.picture %}
                  <img src="{{ user.profile.picture.url }}" alt="profile-image" width="37" height="37">
                {% else %}
                  <img src="{% static 'img/user-default1.png' %}" alt="profile-image" width="37" height="37">
                {% endif %}
            </div>

            <div >
              <div class="fgt-sec">
              <h6 class="mt-1 ml-0">{{user.first_name|capfirst}}</h6>
              <a href="{% url 'users:profile' %}"><p>Ver mi perfil</p></a>
              </div>
            </div>

        </ul>

        <h3>Ajustes</h3>
        <ul class="us-links">
          <li><a href="{% url 'users:setting' %}" title="">Configuracion de Cuenta</a></li>

        </ul>
        <h3 class="tc"><a href="{% url 'users:logout' %}" title="">Cerrar Sesion</a></h3>
      </div><!--user-account-settingss end-->
    </div>
  </div><!--header-data end-->
</div>
