{% load static %}
<div class="container">
  <div class="header-data">
    <div class="logo">
      <a href="{% url 'posts:feed' %}" title=""><img src="{% static 'img/Logo_col.png' %}" width="200px" height="50px" alt=""></a>
    </div><!--logo end-->
    <div class="menu-btn">
      <a href="#" title=""><i class="fa fa-bars"></i></a>
    </div><!--menu-btn end-->
    <nav>
      <ul>
        <li>
          <a href="{% url 'posts:home' %}" title="">
            <span><img src=" {% static 'img/icon1.png' %}" alt=""></span>
            Inicio
          </a>
        </li>
        <li>
          <a href="{% url 'users:login' %}" title="">
            <span><i class="fas fa-user"></i></span>
            Entrar
          </a>
        </li>
        <li>
          <a href="{% url 'users:signup' %}">
            <span>
              <i class="fas fa-user-plus"></i>
            </span>
            Registrarse
          </a>
        </li>
      </ul>
    </nav><!--nav end-->

  </div><!--header-data end-->
</div>