{% extends 'base.html' %}
{% load static %}
{% block head_content %}
   
{% endblock%}

{% block nav %}
    {% include 'users/nav.html' %}
{% endblock%}

{% block content %}

    {% block other_top %}
    {% endblock %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-10 col-xl-9 mx-auto">
                            <div class="card card-signin flex-row my-3">
                                <div class="card-img-left d-none d-md-flex ">
                                    <!-- Background image for card set in CSS! -->
                                </div>
                                <div class="card-body">

                                    <div class="text-center">
                                        <img src="{% static 'img/Logo_color.png' %}"  style="max-width: 40%;float: none;">
                                    </div>
                                    <h5 class="card-title text-center mt-3 mb-0 pb-0" style="color: rgb(68, 68, 68);font-weight: 500;">
                                        {% block title %}{% endblock %}
                                    </h5>
                                    <hr class="mt-1">
                                    {% block enla %}
                                    {% endblock %}
                                    {% block container %}{% endblock%}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>

    {% block other_button %}
    {% endblock %}

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock%}
