{% extends 'users/base.html' %}
{% block head_content %}
  Login | VentGram
{% endblock %}
{% block title %}
<h5 class="card-title text-center mt-3 mb-0 pb-0" style="color: rgb(68, 68, 68);">Bienvenido</h5>
<hr class="mt-1">
{% endblock %}

{% block container %}
{% if form.errors %}
  <p class="alert alert-danger">El correo electronico o contraseña estan incorrectos.</p>
{% endif %}
  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}

    <div class="form-label-group">
      <input type="email" id="inputEmail" 
      class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
      placeholder="Dirección de correo electrónico" name="username" 
      value="{% if form.errors %}{{form.username.value }}{% else %}{{ user.username }}{% endif %}"required>
      <label for="inputEmail">Dirección de correo electrónico</label>
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
    </div>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" 
            class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
            placeholder="Contraseña" name="password" 
            value="{% if form.errors %}{{form.password.value }}{% else %}{{ user.password }}{% endif %}"required>
      <label for="inputPassword">Contraseña</label>
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
    </div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label ml-3" style="color: rgb(92, 92, 92);" for="customCheck1">Recordar Contraseña</label>
    </div>

    <hr class="my-4">
  <button class="btn btn-lg btn-primary btn-block btn-login font-weight-bold text-uppercase" type="submit">Inciar sesíon</button>
  <p class="d-block text-center mt-2 mb-1 small"> ¿Aún no tienes una cuenta? <a href="{% url "users:signup" %}">Registarte aquí.</a> </p>
  <p class="d-block text-center small"> ¿Se te olvidó tu contraseña? <a href="{% url "users:signup" %}">Recuperar contraseña</a> </p>
  </form>            
{% endblock %}
    