{% extends 'users/base.html' %}
{% block head_content %}
  Login | VentGram
{% endblock %}

{% block enla %}
<ul class="sign-control pr-0 pt-2">
  <li class="current"><a href="{% url 'users:login' %}" title="">Inicar Sesión</a></li>				
  <li><a href="{% url 'users:signup' %}" title="">Registrarse</a></li>						
</ul>
{% endblock %}

{% block title %}
Bienvenido
{% endblock %}

{% block container %}
{% if form.errors %}
  <p class="alert alert-danger">El correo electronico o contraseña estan incorrectos.</p>
{% endif %}
  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}

    <div class="form-label-group">
      <input type="email" id="inputEmail" 
      class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
      placeholder="Dirección de correo electrónico" name="username" 
      value="{% if form.errors %}{{form.username.value }}{% else %}{{ user.username }}{% endif %}"required>
      <label for="inputEmail">Dirección de correo electrónico</label>
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
    </div>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" 
            class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
            placeholder="Contraseña" name="password" 
            value="{% if form.errors %}{{form.password.value }}{% else %}{{ user.password }}{% endif %}"required>
      <label for="inputPassword">Contraseña</label>
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
    </div>
    </div>

    <hr class="my-3">
  <button class="btn btn-info btn-block btn-login font-weight-bold text-uppercase" type="submit">Inciar sesión</button>
  <p class="d-block text-center mt-2 mb-5 small"> ¿Aún no tienes una cuenta? <a href="{% url "users:signup" %}">Registarte aquí.</a> </p>

  </form>            
{% endblock %}
    