{% load static %}
<div class="container">
  <div class="header-data">
    <div class="logo">
      <a href="{% url 'posts:home' %}" title=""><img src="{% static 'img/Logo_col.png' %}" width="200px" height="50px"
          alt=""></a>
    </div>
    <div class="menu-btn">
      <a href="#" title=""><i class="fa fa-bars"></i></a>
    </div><!--menu-btn end-->
        {% if request.user.profile %}
      <div class="user-account">
        <div class="user-info mr-0">
          {% if request.user.profile.picture %}
          <img src="{{ request.user.profile.picture.url }}" alt="profile-image" width="37" height="37">
          {% else %}
          <a class="like-coms mt-0 ml-1" type="button">
            <span style="margin-top: 0px;">{{request.user.first_name|first}}{{request.user.last_name|first}}</span>
          </a>
          {% endif %}
        </div>

        <div class="user-account-settingss" id="users">
          <h3 class="tc"><a href="{% url 'users:logout' %}" title="Cerrar Sesion"><i
                class="fas fa-power-off mr-2"></i>Cerrar Sesion</a></h3>
        </div>
        <!--user-account-settingss end-->
      </div>
    {% endif %}
    <nav>
      <ul>
        <li>
          <a href="{% url 'posts:home' %}" title="">
            <span><img src=" {% static 'img/icon1.png' %}" alt=""></span>
            Inicio
          </a>
        </li>
      </ul>
    </nav><!--nav end-->
    <!--logo end-->

  </div>
</div>