{% extends 'users/base.html' %}
{% block head_content %}
Activacion de Cuenta | VentGram
{% endblock%}
{% load static %}
            

{% block title %}
Validación De Cuenta
{% endblock %}

{% block container %}
        <p>Se le a enviado un correo electronico a {{request.user.email}} con el codigo de verificacion por favor revise su correo electronico y coloque su codigo de verificacion.</p>
        <br>
        {% if context %}
        <p class="alert alert-danger">{{context}}</p>
        {% endif %}
        <form method="POST" action="{% url 'users:validate_token' %}">
            {% csrf_token %}
            <div class="form-label-group">
                <input class="form-control" id="inputtoken"  type="text" name="token" placeholder="Codigo de verificacion">
                <label for="inputtoken">Codigo de verificacion</label>
            
            </div>
            <button class="btn btn-info btn-block btn-login font-weight-bold text-uppercase" type="submit">Verificacion</button>
        </form>


    
{% endblock %}

<!--Contenido-->